$black-bg: #000000;
$gray-bg: #1e1e1e;
$width-100: 100%;
$fullw: 100vh;
$full: 100%;
$black: #000000;
$white: #ffffff;
$font-black: 'Roboto-Black';
$font-bold-italic: 'Roboto-BoldItalic';
$uppercase: uppercase;